.cc-stickyCol {
  position: sticky !important;
  left: 0 !important;
  background: white !important;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.05);
  border-right: 1px solid lightgray;
  z-index: 100 !important;
}

.cc-stickyColHeader {
  position: sticky !important;
  left: 0 !important;
  background: white !important;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.05);
  border-right: 1px solid lightgray;
  z-index: 200 !important;
}

.cc-nonSticky {
  z-index: 5;
}